.App {
	/* font-family: Montserrat; */
	font-size: 14px;
	font-weight: 400;
	line-height: 18.2px;
	text-align: left;
}

.main {
	display: block;
	text-align: center;
	width: 100%;
	padding: 10px 0;
}

.box {
	width: 340px;
	height: 326px;
	margin: 85px auto 30px;
	border: 1px solid #eee;
	border-radius: 6px;
	padding: 8px 15px 8px 22px;
	box-shadow: 0px 8px 15px 0px #1414141f;
}

.options {
	height: 164px;
}

.option {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 42px;
}

.separatorDiv {
	width: 340px;
	height: 20px;
}

.separator {
	width: 340px;
	height: 0px;
	color: #cdcdcd;
}

.btnDiv {
	width: 340px;
	height: 60px;
}

.btn {
	width: 340px;
	height: 40px;
	border: none;
	border-radius: 4px;
	background-color: #ffce22;
}

.btn:hover {
	background: #ffd84d;
	cursor: pointer;
}

.btn:focus {
	background: #ffce22;
}

.checkBox {
	width: 35px;
	height: 35px;
}

.checkbox {
	width: 23px;
	height: 23px;
	border-radius: 6px;
	border: 1px solid #ccc;
	opacity: 0.6px;
	cursor: pointer;
	appearance: none;
}

.checkbox:checked {
	border-radius: 12px !important;
	appearance: auto;
}

.checkbox:not(:checked):hover {
	background-image: url("/public/tick-hover.png");
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position: center;
}

.checkbox:not(:checked):focus {
	background-image: url("/public/tick-focus.png");
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0px 8px 15px 0px #1414141f;
}

.checkbox:checked:hover {
	appearance: auto;
}

.result {
	text-align: center;
	width: 340px;
	margin: 20px auto;
	border: 1px solid #eee;
	border-radius: 6px;
	padding: 8px 15px 8px 22px;
	box-shadow: 0px 8px 15px 0px #1414141f;
}

ul {
	list-style-type: none;
}

ul li {
	font-size: 14px;
	margin: 8px 0;
}

.noMessage {
	color: #bbb;
}
